@model ReservaTours.Models.Tour

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Tour</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg p-4 rounded-4 bg-light">
            <h3 class="text-center mb-4">Nuevo Tour</h3>

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="form-group mb-3">
                    <label asp-for="Nombre" class="form-label fw-semibold">Nombre</label>
                    <input asp-for="Nombre" class="form-control rounded-3" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Descripcion" class="form-label fw-semibold">Descripción</label>
                    <input asp-for="Descripcion" class="form-control rounded-3" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Precio" class="form-label fw-semibold">Precio</label>
                    <input asp-for="Precio" class="form-control rounded-3" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Fecha" class="form-label fw-semibold">Fecha</label>
                    <input asp-for="Fecha" class="form-control rounded-3" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary px-4 py-2 rounded-3 shadow-sm">
                        <i class="bi bi-check-circle-fill me-2"></i>Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <a class="btn btn-success" asp-action="Index">Atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
