@{
    ViewData["Title"] = "Home Page";
}



@* 
 <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

*@

<h1 class="text-center mb-4 fancy-title">Bienvenidos al Sistema de Reservas Tours</h1>




	<div class="row justify-content-center">

		<div class="col-md-4 mb-3 d-flex align-items-stretch">
			<div class="card shadow-sm">
				<img src="~/imagen/Reservas.jpg" class="card-img-top" alt="Reservas Image">
				<div class="card-body text-center">
					<h5 class="card-title">Reservas</h5>
					<a href="/Reservas" class="btn btn-primary"> Reservas</a>
				</div>
			</div>
		</div>


		<div class="col-md-4 mb-3 d-flex align-items-stretch">
			<div class="card shadow-sm">
				<img src="~/imagen/Notificaciones1.jpg" class="card-img-top" alt="Customer Image">
				<div class="card-body text-center">
					<h5 class="card-title">Notificaciones</h5>
					<a href="/Notificaciones" class="btn btn-primary"> Notificaciones</a>
				</div>
			</div>
		</div>


		<div class="col-md-4 mb-3 d-flex align-items-stretch">
			<div class="card shadow-sm">
				<img src="~/imagen/Tours.jpg" class="card-img-top" alt="Tours Image">
				<div class="card-body text-center">
					<h5 class="card-title">Tours</h5>
					<a href="/Tours" class="btn btn-primary"> Tours</a>
				</div>
			</div>
		</div>

		<div class="col-md-4 mb-3 d-flex align-items-stretch">
			<div class="card shadow-sm">
				<img src="~/imagen/Ususarios.jpg" class="card-img-top" alt="Purchase Image">
				<div class="card-body text-center">
					<h5 class="card-title">Usuarios</h5>
					<a href="/Usuarios" class="btn btn-primary">Usuarios</a>
				</div>
			</div>
		</div>

	


	</div>
</div>
